__pycache__/
*.pyc
.env
output/images/*
output/videos/*
output/scripts/*
!output/images/.gitkeep
!output/videos/.gitkeep
!output/scripts/.gitkeep
output/audio/*
!output/audio/.gitkeep
assets/music/*
!assets/music/.gitkeep
.venv/
venv/
*.egg-info/
dist/
build/
